// bg colors
$bg-clr-primary: #fff;
$bg-clr-secondary: #F8F9FA;
$bg-clr-items: #E9ECEF;


// font colors
$text-clr-primary: #212529;
$text-clr-secondary: #575B5E;
$text-clr-pink: #E83E8C;
$text-clr-blue: #4257D4;
$text-clr-white: #fff;


// button colors
$btn-clr-primary: #4257D4;
$btn-clr-secondary: #D3D4D5;


// font-sizes
$fz-header: 60px;
$fz-header-small: 16px;
// $fz-header-clr: 16px;


// font weight
$fw-normal: 400;
$fw-bold: 700;
