// bg colors
$bg-clr-primary: #fff;
$bg-clr-secondary: #F8F9FA;
$bg-clr-items: #E9ECEF;

// font colors
$text-clr-primary: #212529;
$text-clr-secondary: #575B5E;
$text-clr-pink: #E83E8C;
$text-clr-blue: #4257D4;
$text-clr-white: #fff;

// button colors
$btn-clr-primary: #4257D4;
$btn-clr-secondary: #D3D4D5;

// font-sizes
$fz-header: 60px;
$fz-header-small: 16px;
$fz-standard: 16px;
$fz-small: 14px;
$fz-btn: 12px;

// letter spacing
$lt-space: 3.8px;
$lt-space-small: 3px;

// font weight
$fw-normal: 400;
$fw-bold: 700;

// media queries
$breakpoint-sm: 968px;
$breakpoint-md: 968px;
$breakpoint-lg: 1350px;

