

.btn {
    border: none;
    background-color: $text-clr-blue;
    cursor: pointer;
    font-size: 12px;
    font-weight: $fw-bold;
    height: 40px;
    letter-spacing: 3.9px;
    line-height: 20.48px;
    padding: 8px 12px;
    color: $bg-clr-primary;
    border-radius: 0.75rem;
    text-transform: uppercase;
}