$btn-height: 40px;

.btn {
    border: none;
    background-color: $text-clr-blue;
    cursor: pointer;
    font-size: $fz-btn;
    font-weight: $fw-bold;
    height: $btn-height;
    letter-spacing: $lt-space;
    line-height: 20.48px;
    padding: 8px 12px;
    color: $bg-clr-primary;
    border-radius: 0.75rem;
    text-transform: uppercase;
}