@media (max-width: $breakpoint-sm) {

    // WELCOME SECTION

    .welcome-section {
        max-width: 100vh;
        min-height: 80vh;
        padding-top: 50px;
        background-image: url("../image/seahome.webp");
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        // align-items: center;
        justify-content: center;
    }

    .heading__big--welcome {
        font-weight: 900;
        color: #fff;
        margin-top: 0;
    }

    .search-box {
        background-color: #fff;
        width: 70vw;
        height: 200px;
        margin-top: 100px;
        border-radius: 0.75rem;
        padding: 10px 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    
    .search-box__categories {
        padding-left: 20px;
        font-size: 12px;
        font-weight: $fw-bold;
        letter-spacing: 3.9px;
        color: $text-clr-secondary;
    }

  
    
    .search-js {
        display: none;
        flex-direction: column;
        position: relative;
        background-color: #7386F9;
        top: 20px;
    }


    .search-box__input {
        cursor: text;
        font-size: $fz-standard;
        height: 20px;
        line-height: 26px;
        padding: 10px 20px;
        border-bottom: 1px solid #c4c5c9;
    }



    .search-box__btn {
        margin-left: 10px;
        margin-right: 10px;
    }

//INFO-SECTION

    .info-container {
        min-height: 100vh;
        background-color: $bg-clr-secondary;
        max-width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .heading__big--info {
        margin-bottom: 50px;
        font-size: 29px;
        font-weight: $fw-bold;
        line-height: 39px;
    }

    .heading__small--info {
        font-size: $fz-standard;
        letter-spacing: 3.2px;
    }

    .info__box {
        // display: flex;
        text-align: center;
        padding-bottom: 50px;
        padding-left: 8%;
        padding-right: 8%;
    }

    .fa-map,
    .fa-credit-card,
    .fa-heart {
        font-size: 40px;
        background-color: #E4E8FE;
        padding: 15px 15px;
        border-radius: 50%;
        color: #7386F9;
        margin-bottom: 15px;
    }

    .info__box-header {
        font-size: 20px;
        font-weight: $fw-bold;
        line-height: 26px;
        margin-bottom: 20px;
    }

    .info__box--text {
        font-size: $fz-standard;
        font-weight: $fw-normal;
        margin-bottom: 16px;
        line-height: 26px;
        color: $text-clr-secondary;
    }

// GUIDES-SECTION

    .guides-section {
        max-width: 100vw;
        min-height: 80vh;
    }

    .guides__box--parris {
        display: none;
    }

    .guides {
        width: 100%;
        height: auto;
        display: flex;
        // background-color: lightcoral;
        justify-content: space-around;
        margin-top: 100px;
    }

    .heading__small--more {
        color: $text-clr-blue;
        text-wrap: nowrap;
    }

    .guides__box {
        height: 350px;
        width: 300px;
        background-color: #7386F9;
        display: flex;
        align-items: flex-start;
        flex-direction: column-reverse;
        text-align: left;
        flex-flow: column-reverse;
        border-radius: 0.75rem;
        padding-left: 8px;
    }

    .guides__box--prague {
        background-image: url("../image/tram.webp");
        background-size: cover;
        background-position: center;
    }

    .guides__box--ny {
        background-image: url("../image/tower.webp");
        background-size: cover;
        background-position: center;
    }

    .guides__box--parris {
        display: none;
    }

    .guides__box--big {
        display: none;
    }



    .guide__header {
        text-transform: uppercase;
        color: #fff;
        padding-bottom: 10px;
        font-weight: 700;
    }

    .guide__text {
        color: #fff;
        padding-bottom: 10px;
    }

    // DEALS SECTION

    .deals-section {
        max-width: 100vw;
        background-color: $bg-clr-secondary;
    }

    .deals-container {
        min-height: 100vh;
    }

    .deals-boxes {
        max-width: 100vw;
        display: flex;
        height: 60vh;
        justify-content: space-around;
        margin-top: 100px;
    }

    .deals-box {
        display: flex;
        flex-direction: column;
        height: 380px;
        width: 345px;
        -webkit-box-shadow: 0px 0px 43px -12px rgba(157, 158, 167, 1);
        -moz-box-shadow: 0px 0px 43px -12px rgba(157, 158, 167, 1);
        box-shadow: 0px 0px 43px -12px rgba(157, 158, 167, 1);
        border-radius: 0.75rem;
    }

    .deals-box__top {
        max-width: 100vw;
        background-image: url("../image/kitchen.webp");
        background-size: cover;
        background-position: center;
        height: 50%;
        display: flex;
        flex-direction: column;
    }

    .deals-box__top--john {
        background-image: url("../image/english.webp");
        background-size: cover;
        background-position: center;
    }

    .deals-box__tittle {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 120px;
        margin-left: 10px;
        color: #fff;
        text-shadow: 9px 1px 9px rgba(25, 26, 33, 1);
    }

    .deals-box__img {
        width: 50px;
        height: 50px;
        margin-right: 5px;
        border-radius: 50%;
        border: 2px solid #fff;
    }

    .deals-box__bottom {
        // display: flex;
        // flex-direction: column;
        justify-content: space-around;
        padding-left: 10px;
        padding-right: 10px;
    }

    .deals-box__header {
        font-size: $fz-standard;
        line-height: 21px;
        font-weight: 700;
        padding-top: 40px;
    }

    .deals-box__room {
        font-size: $fz-small;
        line-height: 21px;
        font-weight: 400;
        color: $text-clr-secondary;
        display: flex;
        justify-content: space-between;
        padding-top: 10px;
    }

    .deals-box__room--rating {
        color: #ffc107;
    }

    .fa-star--gray {
        color: $text-clr-secondary;
    }

    .deals-box__price {
        display: flex;
        font-size: $fz-standard;
        color: $text-clr-secondary;
        padding-top: 10px;
    }

    .deals-box__price--price {
        font-size: 20px;
        font-weight: 700;
        color: $text-clr-blue;
        padding-right: 5px;
    }

    .deals-box--extra {
        display: none;
    }

    .deals-start {
        max-width: 100vw;
        min-height: 50vh;
        background-image: url("../image/sea.webp");
        background-size: cover;
        color: #fff;
        font-size: 65px;
        font-weight: 700;
        line-height: 84px;
        margin-bottom: 50px;
        overflow-x: hidden;
    }

    .deals-start__header {
        position: relative;
        top: 50px;
        left: 5%;
        }

    .deals-start__btn {
        position: relative;
        left: 5%;
        top: 20px;
        color: $text-clr-primary;
        background-color: #fff;
    }

    // REVIEWS SECTION 

    .reviews-section {
        max-width: 100vw;
        min-height: 90vh;
    }

    .heading__small--reviews {
        color: $text-clr-blue;
    }

    .heading__big--reviews {
        font-size: 36px;
    }

    .reviews {
        display: flex;
        justify-content: space-around;
        padding-left: 5%;
        padding-right: 5%;
        margin-top: 120px;
    }

    .review {
        width: 300px;
        height: 350px;
        display: flex;
        flex-direction: column;
        -webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
        -moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
        box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    }


    .review__img {
        width: 80px;
        height: 80px;
        align-self: center;
        border-radius: 50%;
        border: 2px solid white;
        position: relative;
        top: -20px;
    }

    .review__quote {
        font-size: 55px;
        color: $text-clr-blue;
        padding-left: 35px;
    }

    .review__opinion {
        color: $text-clr-secondary;
        font-size: $fz-standard;
        line-height: 22px;
        margin-bottom: 15px;
        margin-top: 20px;
        padding-left: 35px;
    }

    .review__signature {
        font-weight: $fw-bold;
        padding-left: 35px;
    }

    .review--extra {
        display: none;
    }

    // BLOG SECTION

    .blog-section {
        max-width: 100vw;
        min-height: 120vh;
    }

    .heading__small--blog {
        color: $text-clr-pink;
    }

    .deals-boxes__blog {
        // background-color: palegreen;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        margin-top: 70px;
    }

    .deals-box__blog {
        width: 300px;
        height: 500px;
        margin-left: 30px;
        margin-right: 15px;
        -webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
        -moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
        box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
        display: flex;
        flex-direction: column;
        border-radius: 0.5rem;
        margin-bottom: 50px;
    }

    .deals-box__top--blog {
        width: 300px;
        height: 230px;
    }

    .deals-box__top--1 {
        background-image: url("../image/domek.png");
        background-size: cover;
    }
    .deals-box__top--2 {
        background-image: url("../image/home.webp");
        background-size: cover;
    }
    .deals-box__top--3 {
        background-image: url("../image/people.webp");
        background-size: cover;
    }

    .deals-box__bottom--blog {
        display: flex;
        height: 270px;
        flex-direction: column;
        justify-content: space-around;
        margin-left: 10px;
    }

    .deals-box__tittle--blog {
        font-size: $fz-small;
        line-height: 22px;
        color: $text-clr-secondary;
    }

    .deals-box__header--blog {
        font-size: 20px;
        font-weight: $fw-bold;
        color: $text-clr-primary;
        line-height: 26px;
    }

    .deals-box__date {
        font-size: $fz-small;
        line-height: 23px;
        color: $text-clr-secondary;
    }

    .deals-box__text {
        font-size: $fz-small;
        color: $text-clr-secondary;
        line-height: 23px;
    }

    .deals-box__link {
        font-size: $fz-small;
        color: $text-clr-blue;
        line-height: 23px;
        text-transform: uppercase;
        letter-spacing: 3px;
        text-decoration: none;
        font-weight: $fw-bold;
    }
}

//BROWSER SCREEN

@media (min-width: $breakpoint-md) {

    // WELCOME SECTION

    .welcome-section {
        max-width: 100vw;
        min-height: 60vh;
        padding-top: 50px;
        background-image: url("../image/seahome.webp");
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        // align-items: center;
        justify-content: flex-start;
        overflow-x: hidden;
        padding-top: 150px;
        padding-left: 50px;
    }

    .heading__big--welcome {
        font-weight: 900;
        color: #fff;
        margin-top: 0;
        text-align: left;
    }

    .heading--welcome {
        text-align: left;
        margin-bottom: 0;
    }

    .search-box {
        background-color: #fff;
        width: auto;
        height: auto;
        margin-top: 30px;
        border-radius: 3rem;
        padding: 5px 5px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }

    .search__option {
        display: none;
    }

    .search-box__input {
        cursor: text;
        font-size: $fz-standard;
        height: 20px;
        width: 300px;
        line-height: 26px;
        padding: 10px 5px;
        border-right: 1px solid #c4c5c9;
        margin-left: 5px;
    }

    .search-box__input--location {
        width: 150px;
    }

    .search-box__categories {
        padding-left: 20px;
        font-size: 13px;
        font-weight: $fw-bold;
        letter-spacing: 3.9px;
        color: $text-clr-secondary;
        padding-right: 40px;
    }

    .search-box__btn {
        margin-left: 10px;
        border-radius: 3rem;

    }

//INFO-SECTION

    .info-container {
        max-height: 60vh;
        background-color: $bg-clr-secondary;
        max-width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding-bottom: 100px;
    }

    .heading__big--info {
        margin-bottom: 50px;
        font-size: 29px;
        font-weight: $fw-bold;
        line-height: 39px;
    }

    .heading__small--info {
        font-size: $fz-standard;
        letter-spacing: 3.2px;
    }

    .info__boxes {
        margin-top: 50px;
        display: flex;
        padding-left: 8%;
        padding-right: 8%;
    }

    .info__box {
        // display: flex;
        text-align: center;
        padding-bottom: 50px;
        padding-left: 10px;
        padding-right: 20px;
    }

    .fa-map,
    .fa-credit-card,
    .fa-heart {
        font-size: 40px;
        background-color: #E4E8FE;
        padding: 15px 15px;
        border-radius: 50%;
        color: #7386F9;
        margin-bottom: 15px;
    }

    .info__box-header {
        font-size: 20px;
        font-weight: $fw-bold;
        line-height: 26px;
        margin-bottom: 20px;
    }

    .info__box--text {
        font-size: $fz-standard;
        font-weight: $fw-normal;
        margin-bottom: 16px;
        line-height: 26px;
        color: $text-clr-secondary;
    }

// GUIDES-SECTION

    .guides-section {
        max-width: 100vw;
        min-height: 80vh;
    }

    .guides {
        width: 100%;
        height: auto;
        display: flex;
        // background-color: lightcoral;
        justify-content: space-between;
        margin-top: 100px;
        
    }

    .heading__small--more {
        color: $text-clr-blue;
        text-wrap: nowrap;
    }

    .guides__box {
    
        height: 350px;
        width: 250px;
        background-color: #7386F9;
        display: flex;
        align-items: flex-start;
        flex-direction: column-reverse;
        text-align: left;
        flex-flow: column-reverse;
        border-radius: 0.75rem;
        padding-left: 8px;
    }

    .guides__box--prague {
        margin-left: 10vw;
        background-image: url("../image/tram.webp");
        background-size: cover;
        background-position: center;
        
    }
    .guides__box--ny {
        background-image: url("../image/tower.webp");
        background-size: cover;
        background-position: center;
        margin-left: 30px;
        margin-right: 30px;

    }

    .guides__box--parris {
        background-image: url("../image/eiffle.webp");
        background-size: cover;
        background-position: center;
        margin-right: 10vw;
    }

    .guides__box--big {
        display: none;
    }

    .guide__header {
        text-transform: uppercase;
        color: #fff;
        padding-bottom: 10px;
        font-weight: 700;
    }

    .guide__text {
        color: #fff;
        padding-bottom: 10px;
    }

    // DEALS SECTION

    .deals-section {
        max-width: 100vw;
        background-color: $bg-clr-secondary;
    }

    .deals-container {
        min-height: 100vh;
    }

    .deals-boxes {
        max-width: 100vw;
        display: flex;
        height: 60vh;
        justify-content: space-around;
        margin-top: 100px;
    }

    .deals-box {
        display: flex;
        flex-direction: column;
        height: 380px;
        width: 345px;
        -webkit-box-shadow: 0px 0px 43px -12px rgba(157, 158, 167, 1);
        -moz-box-shadow: 0px 0px 43px -12px rgba(157, 158, 167, 1);
        box-shadow: 0px 0px 43px -12px rgba(157, 158, 167, 1);
        border-radius: 0.75rem;
    }

    .deals-box__top {
        max-width: 100vw;
        background-image: url("../image/kitchen.webp");
        background-size: cover;
        background-position: center;
        height: 50%;
        display: flex;
        flex-direction: column;
    }

    .deals-box__top--john {
        background-image: url("../image/english.webp");
        background-size: cover;
        background-position: center;
    }

    .deals-box__tittle {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 120px;
        margin-left: 10px;
        color: #fff;
        text-shadow: 9px 1px 9px rgba(25, 26, 33, 1);
    }

    .deals-box__img {
        width: 50px;
        height: 50px;
        margin-right: 5px;
        border-radius: 50%;
        border: 2px solid #fff;
    }

    .deals-box__bottom {
        justify-content: space-around;
        padding-left: 10px;
        padding-right: 10px;
    }

    .deals-box__header {
        font-size: $fz-standard;
        line-height: 21px;
        font-weight: 700;
        padding-top: 40px;
    }

    .deals-box__room {
        font-size: $fz-small;
        line-height: 21px;
        font-weight: 400;
        color: $text-clr-secondary;
        display: flex;
        justify-content: space-between;
        padding-top: 10px;
    }

    .deals-box__room--rating {
        color: #ffc107;
    }

    .fa-star--gray {
        color: $text-clr-secondary;
    }

    .deals-box__price {
        display: flex;
        font-size: $fz-standard;
        color: $text-clr-secondary;
        padding-top: 10px;
    }

    .deals-box__price--price {
        font-size: 20px;
        font-weight: 700;
        color: $text-clr-blue;
        padding-right: 5px;
    }

    .deals-box--extra {
        display: none;
    }

    .deals-start {
        max-width: 100vw;
        min-height: 50vh;
        background-image: url("../image/sea.webp");
        background-size: cover;
        color: #fff;
        font-size: 65px;
        font-weight: 700;
        line-height: 84px;
        margin-bottom: 50px;
        overflow-x: hidden;

    }

    .deals-start__header {
        position: relative;
        top: 50px;
        left: 5%;
        }

    .deals-start__btn {
        position: relative;
        left: 5%;
        top: 20px;
        color: $text-clr-primary;
        background-color: #fff;
    }

    // REVIEWS SECTION 

    .reviews-section {
        max-width: 100vw;
        min-height: 90vh;
        padding-bottom: 50px;
    }

    .heading__small--reviews {
        color: $text-clr-blue;
    }

    .heading__big--reviews {
        font-size: 36px;
    }

    .reviews {
        display: flex;
        justify-content: space-around;
        padding-left: 5%;
        padding-right: 5%;
        margin-top: 120px;
    }

    .review {
        width: 300px;
        height: 350px;
        display: flex;
        flex-direction: column;
        -webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
        -moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
        box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    }

    .review__img {
        width: 80px;
        height: 80px;
        align-self: center;
        border-radius: 50%;
        border: 2px solid white;
        position: relative;
        top: -20px;
    }

    .review__quote {
        font-size: 55px;
        color: $text-clr-blue;
        padding-left: 35px;
    }

    .review__opinion {
        color: $text-clr-secondary;
        font-size: $fz-standard;
        line-height: 22px;
        margin-bottom: 15px;
        margin-top: 20px;
        padding-left: 35px;
    }

    .review__signature {
        font-weight: $fw-bold;
        padding-left: 35px;
    }

    .review--extra {
        display: none;
    }

    // BLOG SECTION

    .blog-section {
        max-width: 100vw;
        min-height: 120vh;
    }

    .heading__small--blog {
        color: $text-clr-pink;
    }

    .deals-boxes__blog {
        // background-color: palegreen;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        margin-top: 70px;
    }

    .deals-box__blog {
        width: 300px;
        height: 500px;
        margin-left: 30px;
        margin-right: 15px;
        -webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
        -moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
        box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
        display: flex;
        flex-direction: column;
        border-radius: 0.5rem;
        margin-bottom: 50px;
    }

    .deals-box__top--blog {
        width: 300px;
        height: 230px;
    }

    .deals-box__top--1 {
        background-image: url("../image/domek.png");
        background-size: cover;
    }
    .deals-box__top--2 {
        background-image: url("../image/home.webp");
        background-size: cover;
    }
    .deals-box__top--3 {
        background-image: url("../image/people.webp");
        background-size: cover;
    }

    .deals-box__bottom--blog {
        display: flex;
        height: 270px;
        flex-direction: column;
        justify-content: space-around;
        margin-left: 10px;
    }

    .deals-box__tittle--blog {
        font-size: $fz-small;
        line-height: 22px;
        color: $text-clr-secondary;
    }

    .deals-box__header--blog {
        font-size: 20px;
        font-weight: $fw-bold;
        color: $text-clr-primary;
        line-height: 26px;
    }

    .deals-box__date {
        font-size: $fz-small;
        line-height: 23px;
        color: $text-clr-secondary;
    }

    .deals-box__text {
        font-size: $fz-small;
        color: $text-clr-secondary;
        line-height: 23px;
    }

    .deals-box__link {
        font-size: $fz-small;
        color: $text-clr-blue;
        line-height: 23px;
        text-transform: uppercase;
        letter-spacing: 3px;
        text-decoration: none;
        font-weight: $fw-bold;
    }
}

@media (min-width: $breakpoint-lg) {

    // WELCOME SECTION

    .welcome-section {
        max-width: 100vw;
        min-height: 60vh;
        padding-top: 50px;
        background-image: url("../image/seahome.webp");
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        // align-items: center;
        justify-content: flex-start;
        overflow-x: hidden;
        padding-top: 150px;
        padding-left: 50px;
    }

    .heading__big--welcome {
        font-weight: 900;
        color: #fff;
        margin-top: 0;
        text-align: left;
    }

    .heading--welcome {
        text-align: left;
        margin-bottom: 0;
    }

    .search-box {
        background-color: #fff;
        width: auto;
        height: auto;
        margin-top: 30px;
        border-radius: 3rem;
        padding: 5px 5px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }

    .search__option {
        display: none;
    }

    .search-box__input {
        cursor: text;
        font-size: $fz-standard;
        height: 20px;
        width: 300px;
        line-height: 26px;
        padding: 10px 5px;
        border-right: 1px solid #c4c5c9;
        margin-left: 5px;
    }

    .search-box__input--location {
        width: 150px;
    }

    .search-box__categories {
        padding-left: 20px;
        font-size: 13px;
        font-weight: $fw-bold;
        letter-spacing: 3.9px;
        color: $text-clr-secondary;
        padding-right: 40px;
    }

    .search-box__btn {
        margin-left: 10px;
        border-radius: 3rem;

    }

//INFO-SECTION

    .info-container {
        max-height: 60vh;
        background-color: $bg-clr-secondary;
        max-width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding-bottom: 100px;
    }

    .heading__big--info {
        margin-bottom: 50px;
        font-size: 29px;
        font-weight: $fw-bold;
        line-height: 39px;
    }

    .heading__small--info {
        font-size: $fz-standard;
        letter-spacing: 3.2px;
    }

    .info__boxes {
        margin-top: 50px;
        display: flex;
        padding-left: 8%;
        padding-right: 8%;
    }

    .info__box {
        // display: flex;
        text-align: center;
        padding-bottom: 50px;
        padding-left: 10px;
        padding-right: 20px;
    }

    .fa-map,
    .fa-credit-card,
    .fa-heart {
        font-size: 40px;
        background-color: #E4E8FE;
        padding: 15px 15px;
        border-radius: 50%;
        color: #7386F9;
        margin-bottom: 15px;
    }

    .info__box-header {
        font-size: 20px;
        font-weight: $fw-bold;
        line-height: 26px;
        margin-bottom: 20px;
    }

    .info__box--text {
        font-size: $fz-standard;
        font-weight: $fw-normal;
        margin-bottom: 16px;
        line-height: 26px;
        color: $text-clr-secondary;
    }

// GUIDES-SECTION

    .guides-section {
        max-width: 100vw;
        min-height: 80vh;
    }

    .guides {
        width: 100%;
        height: auto;
        display: flex;
        // background-color: lightcoral;
        justify-content: space-between;
        margin-top: 100px;
        
    }

    .heading__small--more {
        color: $text-clr-blue;
        text-wrap: nowrap;
    }

    .guides__box {
    
        height: 350px;
        width: 250px;
        background-color: #7386F9;
        display: flex;
        align-items: flex-start;
        flex-direction: column-reverse;
        text-align: left;
        flex-flow: column-reverse;
        border-radius: 0.75rem;
        padding-left: 8px;
    }

    .guides__box--prague {
        margin-left: 10vw;
        background-image: url("../image/tram.webp");
        background-size: cover;
        background-position: center;
        
    }
    .guides__box--ny {
        background-image: url("../image/tower.webp");
        background-size: cover;
        background-position: center;
        margin-left: 30px;
        margin-right: 30px;

    }

    .guides__box--parris {
        background-image: url("../image/eiffle.webp");
        background-size: cover;
        background-position: center;
        margin-left: 30px;
        margin-right: 30px;

    }

    .guides__box--big {
        background-image: url("../image/eiffle.webp");
        background-size: cover;
        background-position: center;
        margin-right: 10vw;
    }

    .guide__header {
        text-transform: uppercase;
        color: #fff;
        padding-bottom: 10px;
        font-weight: 700;
    }

    .guide__text {
        color: #fff;
        padding-bottom: 10px;
    }

    // DEALS SECTION

    .deals-section {
        max-width: 100vw;
        background-color: $bg-clr-secondary;
    }

    .deals-container {
        min-height: 100vh;
    }

    .deals-boxes {
        max-width: 100vw;
        display: flex;
        height: 60vh;
        justify-content: space-around;
        margin-top: 100px;
    }

    .deals-box {
        display: flex;
        flex-direction: column;
        height: 380px;
        width: 345px;
        -webkit-box-shadow: 0px 0px 43px -12px rgba(157, 158, 167, 1);
        -moz-box-shadow: 0px 0px 43px -12px rgba(157, 158, 167, 1);
        box-shadow: 0px 0px 43px -12px rgba(157, 158, 167, 1);
        border-radius: 0.75rem;
    }

    .deals-box__top {
        max-width: 100vw;
        background-image: url("../image/kitchen.webp");
        background-size: cover;
        background-position: center;
        height: 50%;
        display: flex;
        flex-direction: column;
    }

    .deals-box__top--john {
        background-image: url("../image/english.webp");
        background-size: cover;
        background-position: center;
    }

    .deals-box__tittle {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 120px;
        margin-left: 10px;
        color: #fff;
        text-shadow: 9px 1px 9px rgba(25, 26, 33, 1);
    }

    .deals-box__img {
        width: 50px;
        height: 50px;
        margin-right: 5px;
        border-radius: 50%;
        border: 2px solid #fff;
    }

    .deals-box__bottom {
        // display: flex;
        // flex-direction: column;
        justify-content: space-around;
        padding-left: 10px;
        padding-right: 10px;
    }

    .deals-box__header {
        font-size: $fz-standard;
        line-height: 21px;
        font-weight: 700;
        padding-top: 40px;
    }

    .deals-box__room {
        font-size: $fz-small;
        line-height: 21px;
        font-weight: 400;
        color: $text-clr-secondary;
        display: flex;
        justify-content: space-between;
        padding-top: 10px;
    }

    .deals-box__room--rating {
        color: #ffc107;
    }

    .fa-star--gray {
        color: $text-clr-secondary;
    }

    .deals-box__price {
        display: flex;
        font-size: $fz-standard;
        color: $text-clr-secondary;
        padding-top: 10px;
    }

    .deals-box__price--price {
        font-size: 20px;
        font-weight: 700;
        color: $text-clr-blue;
        padding-right: 5px;
    }

    .deals-start {
        max-width: 100vw;
        min-height: 50vh;
        background-image: url("../image/sea.webp");
        background-size: cover;
        color: #fff;
        font-size: 65px;
        font-weight: 700;
        line-height: 84px;
        margin-bottom: 50px;
        overflow-x: hidden;

    }

    .deals-start__header {
        position: relative;
        top: 50px;
        left: 5%;
        }

    .deals-start__btn {
        position: relative;
        left: 5%;
        top: 20px;
        color: $text-clr-primary;
        background-color: #fff;
    }

    // REVIEWS SECTION 

    .reviews-section {
        max-width: 100vw;
        min-height: 90vh;
    }

    .heading__small--reviews {
        color: $text-clr-blue;
    }

    .heading__big--reviews {
        font-size: 36px;
    }

    .reviews {
        display: flex;
        justify-content: space-around;
        padding-left: 5%;
        padding-right: 5%;
        margin-top: 120px;
    }

    .review {
        width: 300px;
        height: 350px;
        display: flex;
        flex-direction: column;
        -webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
        -moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
        box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    }

    .review__img {
        width: 80px;
        height: 80px;
        align-self: center;
        border-radius: 50%;
        border: 2px solid white;
        position: relative;
        top: -20px;
    }

    .review__quote {
        font-size: 55px;
        color: $text-clr-blue;
        padding-left: 35px;
    }

    .review__opinion {
        color: $text-clr-secondary;
        font-size: $fz-standard;
        line-height: 22px;
        margin-bottom: 15px;
        margin-top: 20px;
        padding-left: 35px;
    }

    .review__signature {
        font-weight: $fw-bold;
        padding-left: 35px;
    }

    // BLOG SECTION

    .blog-section {
        max-width: 100vw;
        min-height: 120vh;
    }

    .heading__small--blog {
        color: $text-clr-pink;
    }

    .deals-boxes__blog {
        // background-color: palegreen;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        margin-top: 70px;
    }

    .deals-box__blog {
        width: 300px;
        height: 500px;
        margin-left: 30px;
        margin-right: 15px;
        -webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
        -moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
        box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
        display: flex;
        flex-direction: column;
        border-radius: 0.5rem;
        margin-bottom: 50px;
    }

    .deals-box__top--blog {
        width: 300px;
        height: 230px;
    }

    .deals-box__top--1 {
        background-image: url("../image/domek.png");
        background-size: cover;
    }
    .deals-box__top--2 {
        background-image: url("../image/home.webp");
        background-size: cover;
    }
    .deals-box__top--3 {
        background-image: url("../image/people.webp");
        background-size: cover;
    }

    .deals-box__bottom--blog {
        display: flex;
        height: 270px;
        flex-direction: column;
        justify-content: space-around;
        margin-left: 10px;
    }

    .deals-box__tittle--blog {
        font-size: $fz-small;
        line-height: 22px;
        color: $text-clr-secondary;
    }

    .deals-box__header--blog {
        font-size: 20px;
        font-weight: $fw-bold;
        color: $text-clr-primary;
        line-height: 26px;
    }

    .deals-box__date {
        font-size: $fz-small;
        line-height: 23px;
        color: $text-clr-secondary;
    }

    .deals-box__text {
        font-size: $fz-small;
        color: $text-clr-secondary;
        line-height: 23px;
    }

    .deals-box__link {
        font-size: $fz-small;
        color: $text-clr-blue;
        line-height: 23px;
        text-transform: uppercase;
        letter-spacing: 3px;
        text-decoration: none;
        font-weight: $fw-bold;
    }
}