@media (max-width: $breakpoint-sm) {

    // WELCOME SECTION

    .welcome-section {
        max-width: 100vh;
        min-height: 80vh;
        padding-top: 50px;
        background-image: url("../image/seahome.webp");
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        // align-items: center;
        justify-content: center;
    }

    .heading__big--welcome {
        font-weight: 900;
        color: #fff;
        margin-top: 0;
    }

    .search-box {
        background-color: #fff;
        width: 70vw;
        height: 200px;
        margin-top: 100px;
        border-radius: 0.75rem;
        padding: 10px 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;


        &__categories {
            padding-left: 20px;
            font-size: 12px;
            font-weight: $fw-bold;
            letter-spacing: $lt-space;
            color: $text-clr-secondary;
        }

        &__input {
            cursor: text;
            font-size: $fz-standard;
            height: 20px;
            line-height: 26px;
            padding: 10px 20px;
            border-bottom: 1px solid #c4c5c9;
        }

        &__btn {
            margin-left: 10px;
            margin-right: 10px;
        }
    }


    //INFO-SECTION

    .info-container {
        min-height: 100vh;
        background-color: $bg-clr-secondary;
        max-width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .heading {

        &__big--info {
            margin-bottom: 50px;
            font-size: 29px;
            font-weight: $fw-bold;
            line-height: 39px;
        }

        &__small--info {
            font-size: $fz-standard;
            letter-spacing: $lt-space-small;
        }
    }

    .info__box {
        // display: flex;
        text-align: center;
        padding-bottom: 50px;
        padding-left: 8%;
        padding-right: 8%;
    }

    .fa-map,
    .fa-credit-card,
    .fa-heart {
        font-size: 40px;
        background-color: #E4E8FE;
        padding: 15px 15px;
        border-radius: 50%;
        color: #7386F9;
        margin-bottom: 15px;
    }

    .info {

        &__box-header {
            font-size: 20px;
            font-weight: $fw-bold;
            line-height: 26px;
            margin-bottom: 20px;
        }

        &__box--text {
            font-size: $fz-standard;
            font-weight: $fw-normal;
            margin-bottom: 16px;
            line-height: 26px;
            color: $text-clr-secondary;
        }
    }

    // GUIDES-SECTION

    .guides-section {
        max-width: 100vw;
        min-height: 80vh;
    }

    .guides {

        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-around;
        margin-top: 100px;

        &__box {
            height: 350px;
            width: 300px;
            background-color: #7386F9;
            display: flex;
            align-items: flex-start;
            flex-direction: column-reverse;
            text-align: left;
            flex-flow: column-reverse;
            border-radius: 0.75rem;
            padding-left: 8px;
        }

        &__box--prague {
            background-image: url("../image/tram.webp");
            background-size: cover;
            background-position: center;
        }

        &__box--ny {
            background-image: url("../image/tower.webp");
            background-size: cover;
            background-position: center;
        }
    
        &__box--parris {
            display: none;
        }
    
        &__box--big {
            display: none;
        }

    }

    .heading__small--more {
        color: $text-clr-blue;
        text-wrap: nowrap;
    }

    .guide {
        
        &__header {
            text-transform: uppercase;
            color: #fff;
            padding-bottom: 10px;
            font-weight: 700;
        }

        &__text {
            color: #fff;
            padding-bottom: 10px;
        }
    }



    // DEALS SECTION

    .deals-section {
        max-width: 100vw;
        background-color: $bg-clr-secondary;
    }

    .deals-container {
        min-height: 100vh;
    }

    .deals-boxes {
        max-width: 100vw;
        display: flex;
        height: 60vh;
        justify-content: space-around;
        margin-top: 100px;
    }

    .deals-box {
        display: flex;
        flex-direction: column;
        height: 380px;
        width: 345px;
        -webkit-box-shadow: 0px 0px 43px -12px rgba(157, 158, 167, 1);
        -moz-box-shadow: 0px 0px 43px -12px rgba(157, 158, 167, 1);
        box-shadow: 0px 0px 43px -12px rgba(157, 158, 167, 1);
        border-radius: 0.75rem;

        &__top {
            max-width: 100vw;
            background-image: url("../image/kitchen.webp");
            background-size: cover;
            background-position: center;
            height: 50%;
            display: flex;
            flex-direction: column;
        }
    
        &__top--john {
            background-image: url("../image/english.webp");
            background-size: cover;
            background-position: center;
        }
    
        &__tittle {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-top: 120px;
            margin-left: 10px;
            color: #fff;
            text-shadow: 9px 1px 9px rgba(25, 26, 33, 1);
        }
    
        &__img {
            width: 50px;
            height: 50px;
            margin-right: 5px;
            border-radius: 50%;
            border: 2px solid #fff;
        }
    
        &__bottom {
            justify-content: space-around;
            padding-left: 10px;
            padding-right: 10px;
        }
    
        &__header {
            font-size: $fz-standard;
            line-height: 21px;
            font-weight: 700;
            padding-top: 40px;
        }
    
        &__room {
            font-size: $fz-small;
            line-height: 21px;
            font-weight: 400;
            color: $text-clr-secondary;
            display: flex;
            justify-content: space-between;
            padding-top: 10px;
        }
    
        &__room--rating {
            color: #ffc107;
        }

        &__price {
            display: flex;
            font-size: $fz-standard;
            color: $text-clr-secondary;
            padding-top: 10px;
        }
    
        &__price--price {
            font-size: 20px;
            font-weight: 700;
            color: $text-clr-blue;
            padding-right: 5px;
        }
    }

    .fa-star--gray {
        color: $text-clr-secondary;
    }

    .deals-box--extra {
        display: none;
    }

    .deals-start {
        max-width: 100vw;
        min-height: 50vh;
        background-image: url("../image/sea.webp");
        background-size: cover;
        color: #fff;
        font-size: 65px;
        font-weight: 700;
        line-height: 84px;
        margin-bottom: 50px;
        overflow-x: hidden;

        &__header {
            position: relative;
            top: 50px;
            left: 5%;
        }
    
        &__btn {
            position: relative;
            left: 5%;
            top: 20px;
            color: $text-clr-primary;
            background-color: #fff;
        }
    }

    // REVIEWS SECTION 

    .reviews-section {
        max-width: 100vw;
        min-height: 90vh;
    }

    .heading {
        
        &__small--reviews {
        color: $text-clr-blue;
        }

        &__big--reviews {
        font-size: 36px;
        }
    }

    .reviews {
        display: flex;
        justify-content: space-around;
        padding-left: 5%;
        padding-right: 5%;
        margin-top: 120px;
    }

    .review {
        width: 300px;
        height: 350px;
        display: flex;
        flex-direction: column;
        -webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
        -moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
        box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);



        &__img {
            width: 80px;
            height: 80px;
            align-self: center;
            border-radius: 50%;
            border: 2px solid white;
            position: relative;
            top: -20px;
    }

        &__quote {
            font-size: 55px;
            color: $text-clr-blue;
            padding-left: 35px;
        }
    
        &__opinion {
            color: $text-clr-secondary;
            font-size: $fz-standard;
            line-height: 22px;
            margin-bottom: 15px;
            margin-top: 20px;
            padding-left: 35px;
        }
    
        &__signature {
            font-weight: $fw-bold;
            padding-left: 35px;
        }
    }

    .review--extra {
        display: none;
    }

    // BLOG SECTION

    .blog-section {
        max-width: 100vw;
        min-height: 120vh;
    }

    .heading__small--blog {
        color: $text-clr-pink;
    }

    .deals-boxes__blog {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        margin-top: 70px;
    }

    .deals-box {
        
        &__blog {
            width: 300px;
            height: 500px;
            margin-left: 30px;
            margin-right: 15px;
            -webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
            -moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
            box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
            display: flex;
            flex-direction: column;
            border-radius: 0.5rem;
            margin-bottom: 50px;
        }

        &__top--blog {
            width: 300px;
            height: 230px;
        }

        &__top--1 {
            background-image: url("../image/domek.png");
            background-size: cover;
        }

        &__top--2 {
            background-image: url("../image/home.webp");
            background-size: cover;
        }

        &__top--3 {
            background-image: url("../image/people.webp");
            background-size: cover;
        }

        &__bottom--blog {
            display: flex;
            height: 270px;
            flex-direction: column;
            justify-content: space-around;
            margin-left: 10px;
        }

        &__tittle--blog {
            font-size: $fz-small;
            line-height: 22px;
            color: $text-clr-secondary;
        }

        &__header--blog {
            font-size: 20px;
            font-weight: $fw-bold;
            color: $text-clr-primary;
            line-height: 26px;
        }

        &__date {
            font-size: $fz-small;
            line-height: 23px;
            color: $text-clr-secondary;
        }

        &__text {
            font-size: $fz-small;
            color: $text-clr-secondary;
            line-height: 23px;
        }

        &__link {
            font-size: $fz-small;
            color: $text-clr-blue;
            line-height: 23px;
            text-transform: uppercase;
            letter-spacing: $lt-space-small;
            text-decoration: none;
            font-weight: $fw-bold;
        }
    }
}

//BROWSER SCREEN

@media (min-width: $breakpoint-md) {

    // WELCOME SECTION

    .welcome-section {
        max-width: 100vw;
        min-height: 60vh;
        padding-top: 50px;
        background-image: url("../image/seahome.webp");
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: flex-start;
        overflow-x: hidden;
        padding-top: 150px;
        padding-left: 50px;
    }

    .heading__big--welcome {
        font-weight: 900;
        color: #fff;
        margin-top: 0;
        text-align: left;
    }

    .heading--welcome {
        text-align: left;
        margin-bottom: 0;
    }

    .search-box {
        background-color: #fff;
        width: auto;
        height: auto;
        margin-top: 30px;
        border-radius: 3rem;
        padding: 5px 5px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }

    .search__option {
        display: none;
    }

    .search-box {
        
        &__input {
            cursor: text;
            font-size: $fz-standard;
            height: 20px;
            width: 300px;
            line-height: 26px;
            padding: 10px 5px;
            border-right: 1px solid #c4c5c9;
            margin-left: 5px;
        }

        &__input--location {
            width: 150px;
        }

        &__categories {
            padding-left: 20px;
            font-size: 13px;
            font-weight: $fw-bold;
            letter-spacing: $lt-space;
            color: $text-clr-secondary;
            padding-right: 40px;
        }

        &__btn {
            margin-left: 10px;
            border-radius: 3rem;

        }
    }

    //INFO-SECTION

    .info-container {
        max-height: 60vh;
        background-color: $bg-clr-secondary;
        max-width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding-bottom: 100px;
    }

    .heading {
        
        &__big--info {
            margin-bottom: 50px;
            font-size: 29px;
            font-weight: $fw-bold;
            line-height: 39px;
        }

        &__small--info {
            font-size: $fz-standard;
            letter-spacing: $lt-space;
        }
    }

    .info__boxes {
        margin-top: 50px;
        display: flex;
        padding-left: 8%;
        padding-right: 8%;
    }

    .info {
        
        &__box {
            text-align: center;
            padding-bottom: 50px;
            padding-left: 10px;
            padding-right: 20px;
        }

        &__box-header {
            font-size: 20px;
            font-weight: $fw-bold;
            line-height: 26px;
            margin-bottom: 20px;
        }
    
        &__box--text {
            font-size: $fz-standard;
            font-weight: $fw-normal;
            margin-bottom: 16px;
            line-height: 26px;
            color: $text-clr-secondary;
        }
    }

    .fa-map,
    .fa-credit-card,
    .fa-heart {
        font-size: 40px;
        background-color: #E4E8FE;
        padding: 15px 15px;
        border-radius: 50%;
        color: #7386F9;
        margin-bottom: 15px;
    }

    // GUIDES-SECTION

    .guides-section {
        max-width: 100vw;
        min-height: 80vh;
    }

    .heading__small--more {
        color: $text-clr-blue;
        text-wrap: nowrap;
    }

    .guides {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;
        margin-top: 100px;

        &__box {
            height: 350px;
            width: 250px;
            background-color: #7386F9;
            display: flex;
            align-items: flex-start;
            flex-direction: column-reverse;
            text-align: left;
            flex-flow: column-reverse;
            border-radius: 0.75rem;
            padding-left: 8px;
        }
    
        &__box--prague {
            margin-left: 10vw;
            background-image: url("../image/tram.webp");
            background-size: cover;
            background-position: center;
        }
    
        &__box--ny {
            background-image: url("../image/tower.webp");
            background-size: cover;
            background-position: center;
            margin-left: 30px;
            margin-right: 30px;
        }
    
        &__box--parris {
            background-image: url("../image/eiffle.webp");
            background-size: cover;
            background-position: center;
            margin-right: 10vw;
        }
    
        &__box--big {
            display: none;
        }
    }

    .guide {
        
        &__header {
            text-transform: uppercase;
            color: #fff;
            padding-bottom: 10px;
            font-weight: 700;
        }

        &__text {
            color: #fff;
            padding-bottom: 10px;
        }
    }

    // DEALS SECTION

    .deals-section {
        max-width: 100vw;
        background-color: $bg-clr-secondary;
    }

    .deals-container {
        min-height: 100vh;
    }

    .deals-boxes {
        max-width: 100vw;
        display: flex;
        height: 60vh;
        justify-content: space-around;
        margin-top: 100px;
    }

    .deals-box {
        display: flex;
        flex-direction: column;
        height: 380px;
        width: 345px;
        -webkit-box-shadow: 0px 0px 43px -12px rgba(157, 158, 167, 1);
        -moz-box-shadow: 0px 0px 43px -12px rgba(157, 158, 167, 1);
        box-shadow: 0px 0px 43px -12px rgba(157, 158, 167, 1);
        border-radius: 0.75rem;

        &__top {
            max-width: 100vw;
            background-image: url("../image/kitchen.webp");
            background-size: cover;
            background-position: center;
            height: 50%;
            display: flex;
            flex-direction: column;
        }
    
        &__top--john {
            background-image: url("../image/english.webp");
            background-size: cover;
            background-position: center;
        }
    
        &__tittle {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-top: 120px;
            margin-left: 10px;
            color: #fff;
            text-shadow: 9px 1px 9px rgba(25, 26, 33, 1);
        }
    
        &__img {
            width: 50px;
            height: 50px;
            margin-right: 5px;
            border-radius: 50%;
            border: 2px solid #fff;
        }
    
        &__bottom {
            justify-content: space-around;
            padding-left: 10px;
            padding-right: 10px;
        }
    
        &__header {
            font-size: $fz-standard;
            line-height: 21px;
            font-weight: 700;
            padding-top: 40px;
        }
    
        &__room {
            font-size: $fz-small;
            line-height: 21px;
            font-weight: 400;
            color: $text-clr-secondary;
            display: flex;
            justify-content: space-between;
            padding-top: 10px;
        }
    
        &__room--rating {
            color: #ffc107;
        }

        &__price {
            display: flex;
            font-size: $fz-standard;
            color: $text-clr-secondary;
            padding-top: 10px;
        }
    
        &__price--price {
            font-size: 20px;
            font-weight: 700;
            color: $text-clr-blue;
            padding-right: 5px;
        }
    }

    .fa-star--gray {
        color: $text-clr-secondary;
    }

    .deals-box--extra {
        display: none;
    }

    .deals-start {
        max-width: 100vw;
        min-height: 50vh;
        background-image: url("../image/sea.webp");
        background-size: cover;
        color: #fff;
        font-size: 65px;
        font-weight: 700;
        line-height: 84px;
        margin-bottom: 50px;
        overflow-x: hidden;

        &__header {
            position: relative;
            top: 50px;
            left: 5%;
        }
    
        &__btn {
            position: relative;
            left: 5%;
            top: 20px;
            color: $text-clr-primary;
            background-color: #fff;
        }
    }

    // REVIEWS SECTION 

    .reviews-section {
        max-width: 100vw;
        min-height: 90vh;
        padding-bottom: 50px;
    }

    .heading {
        
        &__small--reviews {
            color: $text-clr-blue;
        }

        &__big--reviews {
            font-size: 36px;
        }
    }

    .reviews {
        display: flex;
        justify-content: space-around;
        padding-left: 5%;
        padding-right: 5%;
        margin-top: 120px;
    }

    .review {

        width: 300px;
        height: 350px;
        display: flex;
        flex-direction: column;
        -webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
        -moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
        box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);

        &__img {
            width: 80px;
            height: 80px;
            align-self: center;
            border-radius: 50%;
            border: 2px solid white;
            position: relative;
            top: -20px;
        }
    
        &__quote {
            font-size: 55px;
            color: $text-clr-blue;
            padding-left: 35px;
        }
    
        &__opinion {
            color: $text-clr-secondary;
            font-size: $fz-standard;
            line-height: 22px;
            margin-bottom: 15px;
            margin-top: 20px;
            padding-left: 35px;
        }
    
        &__signature {
            font-weight: $fw-bold;
            padding-left: 35&
        }
    }

    .review--extra {
        display: none;
    }

    // BLOG SECTION

    .blog-section {
        max-width: 100vw;
        min-height: 120vh;
    }

    .heading__small--blog {
        color: $text-clr-pink;
    }

    .deals-boxes__blog {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        margin-top: 70px;
    }

    .deals-box {
        
        &__blog {
            width: 300px;
            height: 500px;
            margin-left: 30px;
            margin-right: 15px;
            -webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
            -moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
            box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
            display: flex;
            flex-direction: column;
            border-radius: 0.5rem;
            margin-bottom: 50px;
        }

        &__top--blog {
            width: 300px;
            height: 250px;
        }

        &__top--1 {
            background-image: url("../image/domek.png");
            background-size: cover;
        }

        &__top--2 {
            background-image: url("../image/home.webp");
            background-size: cover;
        }

        &__top--3 {
            background-image: url("../image/people.webp");
            background-size: cover;
        }

        &__bottom--blog {
            display: flex;
            height: 270px;
            flex-direction: column;
            justify-content: space-around;
            margin-left: 10px;
        }

        &__tittle--blog {
            font-size: $fz-small;
            line-height: 22px;
            color: $text-clr-secondary;
        }

        &__header--blog {
            font-size: 20px;
            font-weight: $fw-bold;
            color: $text-clr-primary;
            line-height: 26px;
        }

        &__date {
            font-size: $fz-small;
            line-height: 23px;
            color: $text-clr-secondary;
        }

        &__text {
            font-size: $fz-small;
            color: $text-clr-secondary;
            line-height: 23px;
        }

        &__link {
            font-size: $fz-small;
            color: $text-clr-blue;
            line-height: 23px;
            text-transform: uppercase;
            letter-spacing: $lt-space-small;
            text-decoration: none;
            font-weight: $fw-bold;
        }
    }
}

@media (min-width: $breakpoint-lg) {

    // WELCOME SECTION

    .welcome-section {
        max-width: 100vw;
        min-height: 60vh;
        padding-top: 50px;
        background-image: url("../image/seahome.webp");
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: flex-start;
        overflow-x: hidden;
        padding-top: 150px;
        padding-left: 50px;
    }

    .heading__big--welcome {
        font-weight: 900;
        color: #fff;
        margin-top: 0;
        text-align: left;
    }

    .heading--welcome {
        text-align: left;
        margin-bottom: 0;
    }

    .search-box {
        background-color: #fff;
        width: 60vw;
        // height: auto;
        margin-top: 50px;
        border-radius: 3rem;
        padding: 5px 20px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        position: relative;
    }

    .search__option {
        display: none;
    }

    .search-box {
        
        &__input {
            font-size: $fz-standard;
        }

        &__input--location {
            font-size: $fz-standard;
        }


        &__btn {
            position: absolute;
            right: 0;
            margin-right: 5px;
        }
    }


    //INFO-SECTION

    .info-container {
        max-height: 60vh;
        background-color: $bg-clr-secondary;
        max-width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding-bottom: 100px;
    }

    .heading {
        
        &__big--info {
            margin-bottom: 50px;
            font-size: 29px;
            font-weight: $fw-bold;
            line-height: 39px;
        }

        &__small--info {
            font-size: $fz-standard;
            letter-spacing: $lt-space-small;
        }
    }

    .info__boxes {
        margin-top: 50px;
        display: flex;
        padding-left: 8%;
        padding-right: 8%;
    }

    .info {
        
        &__box {
            text-align: center;
            padding-bottom: 50px;
            padding-left: 10px;
            padding-right: 20px;
        }

        &__box-header {
            font-size: 20px;
            font-weight: $fw-bold;
            line-height: 26px;
            margin-bottom: 20px;
        }
    
        &__box--text {
            font-size: $fz-standard;
            font-weight: $fw-normal;
            margin-bottom: 16px;
            line-height: 26px;
            color: $text-clr-secondary;
        }
    }

    .fa-map,
    .fa-credit-card,
    .fa-heart {
        font-size: 40px;
        background-color: #E4E8FE;
        padding: 15px 15px;
        border-radius: 50%;
        color: #7386F9;
        margin-bottom: 15px;
    }

    // GUIDES-SECTION

    .guides-section {
        max-width: 100vw;
        min-height: 80vh;
    }

    .guides {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;
        margin-top: 100px;

        &__box {
            height: 350px;
            width: 250px;
            background-color: #7386F9;
            display: flex;
            align-items: flex-start;
            flex-direction: column-reverse;
            text-align: left;
            flex-flow: column-reverse;
            border-radius: 0.75rem;
            padding-left: 8px;
        }
    
        &__box--prague {
           margin-left: 10vw;
            background-image: url("../image/tram.webp");
            background-size: cover;
            background-position: center;
        }
    
        &__box--ny {
           background-image: url("../image/tower.webp");
            background-size: cover;
            background-position: center;
            margin-left: 30px;
            margin-right: 30px;
        }
    
        &__box--parris {
           background-image: url("../image/eiffle.webp");
            background-size: cover;
            background-position: center;
            margin-left: 30px;
            margin-right: 30px;
        }
    
        &__box--big {
           background-image: url("../image/eiffle.webp");
            background-size: cover;
            background-position: center;
            margin-right: 10vw;
        }
    }

    .heading__small--more {
        color: $text-clr-blue;
        text-wrap: nowrap;
    }

    .guide {
        
        &__header {
            text-transform: uppercase;
            color: #fff;
            padding-bottom: 10px;
            font-weight: 700;
        }

        &__text {
            color: #fff;
            padding-bottom: 10px;
        }
    }

    // DEALS SECTION

    .deals-section {
        max-width: 100vw;
        background-color: $bg-clr-secondary;
    }

    .deals-container {
        min-height: 100vh;
    }

    .deals-boxes {
        max-width: 100vw;
        display: flex;
        height: 60vh;
        justify-content: space-around;
        margin-top: 100px;
    }

    .deals-box {
        display: flex;
        flex-direction: column;
        height: 380px;
        width: 345px;
        -webkit-box-shadow: 0px 0px 43px -12px rgba(157, 158, 167, 1);
        -moz-box-shadow: 0px 0px 43px -12px rgba(157, 158, 167, 1);
        box-shadow: 0px 0px 43px -12px rgba(157, 158, 167, 1);
        border-radius: 0.75rem;

        &__top {
            max-width: 100vw;
            background-image: url("../image/kitchen.webp");
            background-size: cover;
            background-position: center;
            height: 50%;
            display: flex;
            flex-direction: column;
        }
    
        &__top--john {
            background-image: url("../image/english.webp");
            background-size: cover;
            background-position: center;
        }
    
        &__tittle {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-top: 120px;
            margin-left: 10px;
            color: #fff;
            text-shadow: 9px 1px 9px rgba(25, 26, 33, 1);
        }
    
        &__img {
            width: 50px;
            height: 50px;
            margin-right: 5px;
            border-radius: 50%;
            border: 2px solid #fff;
        }
    
        &__bottom {
            // display: flex;
            // flex-direction: column;
            justify-content: space-around;
            padding-left: 10px;
            padding-right: 10px;
        }
    
        &__header {
            font-size: $fz-standard;
            line-height: 21px;
            font-weight: 700;
            padding-top: 40px;
        }
    
        &__room {
            font-size: $fz-small;
            line-height: 21px;
            font-weight: 400;
            color: $text-clr-secondary;
            display: flex;
            justify-content: space-between;
            padding-top: 10px;
        }
    
        &__room--rating {
            color: #ffc107;
        }

        &__price {
            display: flex;
            font-size: $fz-standard;
            color: $text-clr-secondary;
            padding-top: 10px;
        }
    
        &__price--price {
            font-size: 20px;
            font-weight: 700;
            color: $text-clr-blue;
            padding-right: 5px;
        }
    }

    .fa-star--gray {
        color: $text-clr-secondary;
    }

    .deals-start {
        max-width: 100vw;
        min-height: 50vh;
        background-image: url("../image/sea.webp");
        background-size: cover;
        color: #fff;
        font-size: 65px;
        font-weight: 700;
        line-height: 84px;
        margin-bottom: 50px;
        overflow-x: hidden;

        &__header {
            position: relative;
            top: 50px;
            left: 5%;
        }
    
        &__btn {
            position: relative;
            left: 5%;
            top: 20px;
            color: $text-clr-primary;
            background-color: #fff;
        }
    }

    // REVIEWS SECTION 

    .reviews-section {
        max-width: 100vw;
        min-height: 90vh;
    }

    .heading {
        
        &__small--reviews {
            color: $text-clr-blue;
        }

        &__big--reviews {
            font-size: 36px;
        }
    }

    .reviews {
        display: flex;
        justify-content: space-around;
        padding-left: 5%;
        padding-right: 5%;
        margin-top: 120px;
    }

    .review {
        width: 300px;
        height: 350px;
        display: flex;
        flex-direction: column;
        -webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
        -moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
        box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);

        &__img {
            width: 80px;
            height: 80px;
            align-self: center;
            border-radius: 50%;
            border: 2px solid white;
            position: relative;
            top: -20px;
        }
    
        &__quote {
            font-size: 55px;
            color: $text-clr-blue;
            padding-left: 35px;
        }
    
        &__opinion {
            color: $text-clr-secondary;
            font-size: $fz-standard;
            line-height: 22px;
            margin-bottom: 15px;
            margin-top: 20px;
            padding-left: 35px;
        }
    
        &__signature {
            font-weight: $fw-bold;
            padding-left: 35px;
        }
    }

    // BLOG SECTION

    .blog-section {
        max-width: 100vw;
        min-height: 120vh;
    }

    .heading__small--blog {
        color: $text-clr-pink;
    }

    .deals-boxes__blog {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        margin-top: 70px;
    }

    .deals-box {
        
        &__blog {
            width: 300px;
            height: 500px;
            margin-left: 30px;
            margin-right: 15px;
            -webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
            -moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
            box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
            display: flex;
            flex-direction: column;
            border-radius: 0.5rem;
            margin-bottom: 50px;
        }

        &__top--blog {
            width: 300px;
            height: 230px;
        }

        &__top--1 {
            background-image: url("../image/domek.png");
            background-size: cover;
        }

        &__top--2 {
            background-image: url("../image/home.webp");
            background-size: cover;
        }

        &__top--3 {
            background-image: url("../image/people.webp");
            background-size: cover;
        }

        &__bottom--blog {
            display: flex;
            height: 270px;
            flex-direction: column;
            justify-content: space-around;
            margin-left: 10px;
        }

        &__tittle--blog {
            font-size: $fz-small;
            line-height: 22px;
            color: $text-clr-secondary;
        }

        &__header--blog {
            font-size: 20px;
            font-weight: $fw-bold;
            color: $text-clr-primary;
            line-height: 26px;
        }

        &__date {
            font-size: $fz-small;
            line-height: 23px;
            color: $text-clr-secondary;
        }

        &__text {
            font-size: $fz-small;
            color: $text-clr-secondary;
            line-height: 23px;
        }

        &__link {
            font-size: $fz-small;
            color: $text-clr-blue;
            line-height: 23px;
            text-transform: uppercase;
            letter-spacing: $lt-space-small;
            text-decoration: none;
            font-weight: $fw-bold;
        }
    }
}
