.heading {
    width: 100%;
    text-align: center;
    padding-top: 100px;

    &__big {
        font-size: $fz-header;
        color: $text-clr-primary;
        font-weight: $fw-bold;
        line-height: 79px;
    }
    
    &__small {
        font-size: $fz-header-small;
        color: $text-clr-pink;
        font-weight: $fw-bold;
        letter-spacing: 6.4px;
        text-transform: uppercase;
    }

    &__header--more {
        text-align: left;
        padding-left: 100px;
    }
    
    &__big--more {
        font-size: 29px;
        line-height: 39px;
        padding-left: 5%;
    }
    
    &__small--more {
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 3.2px;
        text-transform: uppercase;
        padding-left: 5%;
    }
    
    &__link {
        text-decoration: none;
        color: $text-clr-secondary;
        padding-right: 5%;
        padding-right: 100px;
    }
    
    &__link:hover {
        text-decoration: under;
    }
}

.heading--more {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}