@media (max-width: 1055px) {

    .navbar {
        // background-color: lightcoral;
        max-width: 100vw;
        height: 8cqi;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-right: 3%;
        padding-left: 2%;
    }

    .navbar__left {
        display: flex;
        align-items: center;
    }

    .logo {
        height: 31px;
        display: flex;
        padding-right: 20px;
        padding-left: 10px;
    }

    .input__label {
        background-color: $bg-clr-items;
        padding: 5px 10px;
        border-radius: 0.25rem;
    }

    .fa-magnifying-glass {
        font-size: 14px;
        color: $text-clr-secondary;
    }

    .input__search {
        border: none;
        font-size: 14px;
        background-color: $bg-clr-items;
        color: $text-clr-secondary;
    }

    .navbar__form {
        font-weight: $fw-normal;
    
    }

    .navbar__right {
        display: none;
        position: absolute;
        top: 8vh;
        left: 0;
        background-color: #fff;
        width: 100%;
        padding: 20px 20px;
        height: 40vh;
    }

    .navbar__list {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        font-family: 'poppins', serif;
    }
    .navbar__right.active {
        display: flex;
    }

    .navbar__element {
        font-weight: $fw-normal;
        padding-bottom: 15px;
    }

    .navbar__link {
        text-decoration: none;
        font-weight: $fw-bold;
        font-size: 16px;
        color: $text-clr-secondary;
    }

    .submenu {
        display: none;
    }

    .submenu__link {
        text-decoration: none;
        color: $text-clr-primary;
    }

    .burger__icon {
        color: $text-clr-secondary;
        align-self: flex-end;
        margin-right: 10px;
        border: 0.25px solid $text-clr-secondary;
        padding: 4px 12px;
        height: 20px;
        border-radius: 0.25rem;
    }
}

@media (min-width: 1055px) {

    .navbar {
        // background-color: lightcoral;
        // position: fixed;
        top: 0;
        max-width: 100vw;
        height: 10vh;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-family: 'poppins',serif;
    }

    .navbar__left {
        display: flex;
        align-items: center;
    }

    .logo {
        height: 31px;
        display: flex;
        padding-right: 20px;
        padding-left: 10px;
    }

    .input__label {
        background-color: $bg-clr-items;
        padding: 5px 10px;
        border-radius: 0.25rem;
    }

    .fa-magnifying-glass {
        font-size: 14px;
        color: $text-clr-secondary;
    }

    .input__search {
        border: none;
        font-size: 14px;
        background-color: $bg-clr-items;
        color: $text-clr-secondary;
    }

    .navbar__form {
        font-weight: $fw-normal;
    
    }
    .navbar__list {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-right: 15px;
    }
    .navbar__element {
        font-weight: $fw-normal;
        padding-right: 20px;
        font-size: 14px;
        font-weight: $fw-bold; 
    }

    .submenu {
        display: none;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 4vh;
        position: absolute;
        height: 150px;
        width: 150px;
        background-color: #fff;
        padding: 10px 20px;
        border-radius: 0.75rem;
        font-weight: $fw-normal;
    }

    .submenu.active {
        display: flex;
    }

    .navbar__link:hover {
        color: $text-clr-primary;                                
    }


    .navbar__link {
        text-decoration: none;
        color: $text-clr-secondary;
    }

    .submenu__link {
        text-decoration: none;
        color: $text-clr-primary;
    }

    .submenu__span {
        background-color: #DCF1F4;
        color: #29A9BD;
        padding: 2px 5px;
        margin-left: 5px;
        border-radius: 0.5rem;
        font-weight: $fw-bold;
        font-size: 14px;
    }

    .burger__icon {
        color: $text-clr-secondary;
        align-self: flex-end;
        margin-right: 10px;
        border: 0.25px solid $text-clr-secondary;
        padding: 4px 12px;
        height: 20px;
        border-radius: 0.25rem;
        display: none;
    }
}